* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: 17px/22px "Lucida Sans Unicode", monospace !important;
  color: #5a7281 !important;
}

body.desktop {
  background: #f3f5f8;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

body.mobile {
  background: #fff;
}

.select-dropdown {
  margin-bottom: 20px;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:60px;
    background:#001b30;
    text-align: center;

    .made_text {
      position: relative;
      top: 50%;
      color: white;
      transform: translateY(-50%);
    }
}

.list-group-item li {
  display: flex;
  align-items: center;
}

.list-group-item button {
  margin-top: 0.5rem ;
  margin-left: 0.5rem ;
}

#heart {
  margin-left: 8px;
  margin-right: 8px;
}
